* {
    box-sizing: border-box;
   margin:0px;
   padding: 0px;
}
body{
    background-color: rgb(205, 245, 145);
}
.div{
    padding: 100px;
    margin-left: 50px;
    margin-right: 20%;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
}
textarea{
    resize: none;
}
td{
    margin-top: 20px;
    padding: 20px 5px;
}

.big_div{
    display: flex;
}

img{
    margin-top: 300px;
    width: 500px;
    height: 400px;
}