* {
    box-sizing: border-box;
   margin:0px;
   padding: 0px;
}
body{
    background-color: rgb(218, 245, 236);
}
header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(163, 248, 136);
}
.logo{
    width: 50px;
    height: 50px;
}

.menu{
    background-color: rgb(163, 248, 136);
    width: 180px;
    font-size: 1vw;
}

.menu_li{
    margin-top: 5px;
    margin-bottom: 1px;
    border-bottom: none;
}
ul{
    list-style-type: none;
    border: solid 1px;
    display: none;
}
.a_menu{
    margin-bottom: 5px;
    background-color: rgb(163, 248, 136);
    width: 50px;
    text-decoration: none;
    color: black;
}
li{
    height: 50px;
    text-align: center;
    border-bottom: 1px solid;
    background-color: rgb(163, 248, 136);
    
}
.menu_entrada{
    display: block;
}
.menu_desplegado{
    margin-top: 30px;
    margin-bottom: 9px;
}
ul li:hover>ul{
    display: inline-block;
}

main{
    display: flex;
    justify-content: center;
}

.encima_footer{
    padding: 60px 300px;
}
.dentro_div{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px 100px;
    border: solid 1px;
}

.instagram{
    width: 50px;
    height: 50px;
}

.twitter{
    width: 50px;
    height: 50px;
}

.facebook{
    width: 50px;
    height: 50px;
}

footer{
    padding: 10px;
}

.div_footer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px 100px;
}

.Ballena{
    width: 250px;
    height: 200px;
}

.Generali{
    width: 250px;
    height: 150px;
    margin-top: 30px;
}

.Cabildo{
    width: 250px;
    height: 200px;
}

.hps{
    width: 250px;
    height: 200px;
}

h2{
    text-align: center;
}

.tabla{
    width: 50%;
    background-color: rgb(68, 63, 63);
}

.tabla > table{
    width: 100%;
}
table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

.dias{
    color: white;
    border-color: black;
    background-color: rgba(128, 128, 128, 0.534);
}

.horas{
    color: rgb(1, 107, 1);
    background-color: rgb(178, 238, 186);
    border-color: black;
}
.verde_oscuro{
    background-color: green;
}

.morado_flojo{
    background-color: rgb(168, 142, 192);
}

.verde_flojo{
    background-color: rgb(119, 226, 119);
}

.azul_claro{
    background-color: rgba(76, 76, 218, 0.288);
}

.amarillo{
    background-color: yellow;
}

.rosa{
    background-color: rgba(241, 107, 196, 0.774);
}

.amarillo_fuerte{
    background-color: rgba(231, 186, 38, 0.781);
}

.verde_bosque{
    background-color: rgba(72, 141, 8, 0.836);
}

.gris_fuerte{
    background-color: gray
}

.gris_flojo{
    background-color: rgba(216, 16, 16, 0.527);
}

.marron_raro{
    background-color: rgba(135, 151, 61, 0.788);
}

.carne{
    background-color: rgba(202, 166, 113, 0.418);
}

td{
    text-align: center;
    background-color: rgb(68, 63, 63);
}

.naranja{
    background-color: rgb(255, 123, 0);
}

.magenta{
    background-color: rgba(243, 112, 151, 0.801);
}